# Olist bronze ingestion

In [60]:
%%sh

ls /var/lib/ngods/stage/olist

olist_customers_dataset.csv
olist_geolocation_dataset.csv
olist_order_items_dataset.csv
olist_order_payments_dataset.csv
olist_order_reviews_dataset.csv
olist_orders_dataset.csv
olist_products_dataset.csv
olist_sellers_dataset.csv
product_category_name_translation.csv

In [61]:
%%sql
show databases;

+-----------+
| namespace |
+-----------+
|    bronze |
|   default |
|    silver |
+-----------+

In [62]:
%%sql
use database bronze;

++
||
++
++

## Table: customer

In [63]:
customer_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/olist_customers_dataset.csv"))

In [64]:
customer_df.describe()

DataFrame[summary: string, customer_id: string, customer_unique_id: string, customer_zip_code_prefix: string, customer_city: string, customer_state: string]

In [65]:
customer_df.show()

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                   09790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                   01151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                   08775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
|879864dab9bc30475...|4c93744516667ad3b...|                   89254|      jaragua do sul|            SC|
|fd826e7cf63160e53...|addec96d2e059c80c...|                   04534|           sao paulo|            SP|
|5e274e7a0c3809e14...|57b2a98a409812fe9...|                   35182|             timoteo|            MG|
|5adf08e34b2e99398...|1175e95fb47ddff9d...|                   81560|            curitiba|            PR|
|4b7139f34592b3a31...|9afe194fb833f79e3...|                   30575|      belo horizonte|            MG|
|9fb35e4ed6f0a14a4...|2a7745e1ed516b289...|                   39400|       montes claros|            MG|
|5aa9e4fdd4dfd2095...|2a46fb94aef5cbeeb...|                   20231|      rio de janeiro|            RJ|
|b2d1536598b73a9ab...|918dc87cd72cd9f6e...|                   18682|    lencois paulista|            SP|
|eabebad39a88bb6f5...|295c05e81917928d7...|                   05704|           sao paulo|            SP|
|1f1c7bf1c9b041b29...|3151a81801c838636...|                   95110|       caxias do sul|            RS|
|206f3129c0e4d7d0b...|21f748a16f4e1688a...|                   13412|          piracicaba|            SP|
|a7c125a0a07b75146...|5c2991dbd08bbf3cf...|                   22750|      rio de janeiro|            RJ|
|c5c61596a3b6bd0ce...|b6e99561fe6f34a55...|                   07124|           guarulhos|            SP|
|9b8ce803689b3562d...|7f3a72e8f988c6e73...|                   05416|           sao paulo|            SP|
|49d0ea0986edde72d...|3e6fd6b2f0d499456...|                   68485|              pacaja|            PA|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 20 rows

In [66]:
customer_df.createOrReplaceTempView("temp_customer")

In [67]:
%%sql
CREATE TABLE IF NOT EXISTS bronze.olist_customer (
    customer_id string,
    customer_unique_id string,
    customer_zip_code_prefix string,
    customer_city string,
    customer_state string
)
USING iceberg;

++
||
++
++

In [70]:
%%sql 
MERGE INTO bronze.olist_customer t
USING (
    SELECT
    customer_id,
    customer_unique_id,
    customer_zip_code_prefix,
    customer_city,
    customer_state
    FROM temp_customer) s
ON t.customer_unique_id = s.customer_unique_id
WHEN NOT MATCHED THEN INSERT *

++
||
++
++

In [72]:
%%sql
select count(*) from bronze.olist_customer
UNION ALL
select count(*) from temp_customer
;

+----------+
| count(1) |
+----------+
|    99441 |
|    99441 |
+----------+

## Table: Geolocation

In [73]:
geo_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/olist_geolocation_dataset.csv"))

In [74]:
geo_df.describe()

DataFrame[summary: string, geolocation_zip_code_prefix: string, geolocation_lat: string, geolocation_lng: string, geolocation_city: string, geolocation_state: string]

In [75]:
geo_df.show()

+---------------------------+-------------------+-------------------+----------------+-----------------+
|geolocation_zip_code_prefix|    geolocation_lat|    geolocation_lng|geolocation_city|geolocation_state|
+---------------------------+-------------------+-------------------+----------------+-----------------+
|                      01037| -23.54562128115268| -46.63929204800168|       sao paulo|               SP|
|                      01046|-23.546081127035535| -46.64482029837157|       sao paulo|               SP|
|                      01046| -23.54612896641469| -46.64295148361138|       sao paulo|               SP|
|                      01041|  -23.5443921648681| -46.63949930627844|       sao paulo|               SP|
|                      01035|-23.541577961711493| -46.64160722329613|       sao paulo|               SP|
|                      01012|-23.547762303364266| -46.63536053788448|       são paulo|               SP|
|                      01047|-23.546273112412678| -46.64122516971552|       sao paulo|               SP|
|                      01013|-23.546923208436723|  -46.6342636964915|       sao paulo|               SP|
|                      01029|-23.543769055769133| -46.63427784085132|       sao paulo|               SP|
|                      01011|-23.547639550320632| -46.63603162315495|       sao paulo|               SP|
|                      01013|-23.547325128224376| -46.63418378613892|       sao paulo|               SP|
|                      01032| -23.53841810407414|-46.634778375266734|       sao paulo|               SP|
|                      01014|-23.546435343326205| -46.63383023397196|       sao paulo|               SP|
|                      01012|-23.548945985189434| -46.63467113292871|       sao paulo|               SP|
|                      01037|-23.545187340816042| -46.63785524104107|       são paulo|               SP|
|                      01046|-23.546081127035535| -46.64482029837157|       sao paulo|               SP|
|                      01039|-23.541883009983316| -46.63991946670314|       sao paulo|               SP|
|                      01024|-23.541389521053937|-46.629899087812184|       são paulo|               SP|
|                      01009| -23.54693540437998| -46.63658792659698|       sao paulo|               SP|
|                      01046|-23.545884279214015|-46.643163191240035|       sao paulo|               SP|
+---------------------------+-------------------+-------------------+----------------+-----------------+
only showing top 20 rows

In [77]:
geo_df.createOrReplaceTempView("temp_geo")

In [80]:
%%sql
CREATE TABLE IF NOT EXISTS bronze.olist_geolocation (
    geolocation_zip_code_prefix string,
    geolocation_lat string,
    geolocation_lng string,
    geolocation_city string,
    geolocation_state string
)
USING iceberg;

++
||
++
++

In [81]:
%%sql 
MERGE INTO bronze.olist_geolocation t
USING (
    SELECT
    geolocation_zip_code_prefix,
    geolocation_lat,
    geolocation_lng,
    geolocation_city,
    geolocation_state
    FROM temp_geo) s
ON t.geolocation_zip_code_prefix = s.geolocation_zip_code_prefix
AND t.geolocation_lat = s.geolocation_lat
AND t.geolocation_lng = s.geolocation_lng
AND t.geolocation_city = s.geolocation_city
AND t.geolocation_state = s.geolocation_state
WHEN NOT MATCHED THEN INSERT *

++
||
++
++

## Table: Order Items

In [82]:
order_items_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/olist_order_items_dataset.csv"))

In [83]:
order_items_df.describe()

DataFrame[summary: string, order_id: string, order_item_id: string, product_id: string, seller_id: string, shipping_limit_date: string, price: string, freight_value: string]

In [84]:
order_items_df.show()

+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.90|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.90|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.00|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.90|        18.14|
|00048cc3ae777c65d...|            1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27| 21.90|        12.69|
|00054e8431b9d7675...|            1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31| 19.90|        11.85|
|000576fe39319847c...|            1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45|810.00|        70.75|
|0005a1a1728c9d785...|            1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|        11.65|
|0005f50442cb953dc...|            1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99|        11.40|
|00061f2a7bc09da83...|            1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99|         8.88|
|00063b381e2406b52...|            1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39| 45.00|        12.98|
|0006ec9db01a64e59...|            1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20| 74.00|        23.32|
|0008288aa423d2a3f...|            1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52| 49.90|        13.37|
|0008288aa423d2a3f...|            2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52| 49.90|        13.37|
|0009792311464db53...|            1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10| 99.90|        27.65|
|0009c9a17f916a706...|            1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53|639.00|        11.34|
|000aed2e25dbad2f9...|            1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03|144.00|         8.77|
|000c3e6612759851c...|            1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13| 99.00|        13.71|
|000e562887b1f2006...|            1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37| 25.00|        16.11|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
only showing top 20 rows

In [85]:
order_items_df.createOrReplaceTempView("temp_order_items")

In [87]:
%%sql

CREATE TABLE IF NOT EXISTS bronze.olist_order_items (
    order_id string,
    order_item_id string,
    product_id string,
    seller_id string,
    shipping_limit_date string,
    price string,
    freight_value string
)
USING iceberg;

++
||
++
++

In [90]:
%%sql
MERGE INTO bronze.olist_order_items t
USING (
    SELECT
    order_id,
    order_item_id,
    product_id,
    seller_id,
    shipping_limit_date,
    price,
    freight_value
    FROM temp_order_items) s
ON t.order_id = s.order_id
AND t.order_item_id = s.order_item_id
WHEN NOT MATCHED THEN INSERT *

++
||
++
++

## Table: Order Payments

In [91]:
order_payments_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/olist_order_payments_dataset.csv"))

In [92]:
order_payments_df.createOrReplaceTempView("temp_order_payments")

In [93]:
order_payments_df.describe()

DataFrame[summary: string, order_id: string, payment_sequential: string, payment_type: string, payment_installments: string, payment_value: string]

In [96]:
%%sql
CREATE TABLE IF NOT EXISTS bronze.olist_order_payments (
    order_id string,
    payment_sequential string,
    payment_type string,
    payment_installments string,
    payment_value string
)
USING iceberg;

++
||
++
++

In [99]:
%%sql
MERGE INTO bronze.olist_order_payments t
USING (
    SELECT
    order_id,
    payment_sequential,
    payment_type,
    payment_installments,
    payment_value
    FROM temp_order_payments) s
ON t.order_id = s.order_id
WHEN NOT MATCHED THEN INSERT *

++
||
++
++

## Table: Order Reviews

In [100]:
order_reviews_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/olist_order_reviews_dataset.csv"))

In [101]:
order_reviews_df.createOrReplaceTempView("temp_order_reviews")

In [102]:
order_reviews_df.describe()

DataFrame[summary: string, review_id: string, order_id: string, review_score: string, review_comment_title: string, review_comment_message: string, review_creation_date: string, review_answer_timestamp: string]

In [103]:
%%sql
CREATE TABLE IF NOT EXISTS bronze.olist_order_reviews (
    review_id string,
    order_id string,
    review_score string,
    review_comment_title string,
    review_comment_message string,
    review_creation_date string,
    review_answer_timestamp string
)
USING iceberg;

++
||
++
++

In [104]:
%%sql
MERGE INTO bronze.olist_order_reviews t
USING (
    SELECT
    review_id,
    order_id,
    review_score,
    review_comment_title,
    review_comment_message,
    review_creation_date,
    review_answer_timestamp
    FROM temp_order_reviews) s
ON t.order_id = s.order_id
AND t.review_id = s.review_id
WHEN NOT MATCHED THEN INSERT *

++
||
++
++

## Table: Orders

In [105]:
orders_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/olist_orders_dataset.csv"))

In [111]:
orders_df.createOrReplaceTempView("temp_orders")

In [107]:
orders_df.describe()

DataFrame[summary: string, order_id: string, customer_id: string, order_status: string, order_purchase_timestamp: string, order_approved_at: string, order_delivered_carrier_date: string, order_delivered_customer_date: string, order_estimated_delivery_date: string]

In [109]:
%%sql
CREATE TABLE IF NOT EXISTS bronze.olist_orders (
    order_id string,
    customer_id string,
    order_status string,
    order_purchase_timestamp string,
    order_approved_at string,
    order_delivered_carrier_date string,
    order_delivered_customer_date string,
    order_estimated_delivery_date string
)
USING iceberg;

++
||
++
++

In [113]:
%%sql
MERGE INTO bronze.olist_orders t
USING (
    SELECT
    order_id,
    customer_id,
    order_status,
    order_purchase_timestamp,
    order_approved_at,
    order_delivered_carrier_date,
    order_delivered_customer_date,
    order_estimated_delivery_date
    FROM temp_orders) s
ON t.order_id = s.order_id
WHEN NOT MATCHED THEN INSERT *

++
||
++
++

## Table: Products

In [114]:
products_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/olist_products_dataset.csv"))

In [115]:
products_df.createOrReplaceTempView("temp_products")

In [116]:
products_df.describe()

DataFrame[summary: string, product_id: string, product_category_name: string, product_name_lenght: string, product_description_lenght: string, product_photos_qty: string, product_weight_g: string, product_length_cm: string, product_height_cm: string, product_width_cm: string]

In [118]:
%%sql
CREATE TABLE IF NOT EXISTS bronze.olist_products (
    product_id string,
    product_category_name string,
    product_name_lenght string,
    product_description_lenght string,
    product_photos_qty string,
    product_weight_g string,
    product_length_cm string,
    product_height_cm string,
    product_width_cm string
)
USING iceberg;

++
||
++
++

In [119]:
%%sql
MERGE INTO bronze.olist_products t
USING (
    SELECT
    product_id,
    product_category_name,
    product_name_lenght,
    product_description_lenght,
    product_photos_qty,
    product_weight_g,
    product_length_cm,
    product_height_cm,
    product_width_cm
    FROM temp_products) s
ON t.product_id = s.product_id
WHEN NOT MATCHED THEN INSERT *

++
||
++
++

## Table: Sellers

In [124]:
sellers_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/olist_sellers_dataset.csv"))

In [125]:
sellers_df.createOrReplaceTempView("temp_sellers")

In [126]:
sellers_df.describe()

DataFrame[summary: string, seller_id: string, seller_zip_code_prefix: string, seller_city: string, seller_state: string]

In [128]:
%%sql
CREATE TABLE IF NOT EXISTS bronze.olist_sellers (
    seller_id string,
    seller_zip_code_prefix string,
    seller_city string,
    seller_state string
)
USING iceberg;

++
||
++
++

In [132]:
%%sql
MERGE INTO bronze.olist_sellers t
USING (
    SELECT
    seller_id,
    seller_zip_code_prefix,
    seller_city,
    seller_state
    FROM temp_sellers) s
ON t.seller_id = s.seller_id
WHEN NOT MATCHED THEN INSERT *

++
||
++
++

## Table: Product Category Name Translation

In [133]:
pcnt_df = (spark
     .read
     .option("header", "true")
     .csv("/var/lib/ngods/stage/olist/product_category_name_translation.csv"))

In [134]:
pcnt_df.createOrReplaceTempView("temp_pcnt")

In [135]:
pcnt_df.describe()

DataFrame[summary: string, product_category_name: string, product_category_name_english: string]

In [136]:
%%sql
CREATE TABLE IF NOT EXISTS bronze.olist_product_category_name_translation (
    product_category_name string,
    product_category_name_english string
)
USING iceberg;

++
||
++
++

In [137]:
%%sql
MERGE INTO bronze.olist_product_category_name_translation t
USING (
    SELECT
    product_category_name,
    product_category_name_english
    FROM temp_pcnt) s
ON t.product_category_name = s.product_category_name
WHEN NOT MATCHED THEN INSERT *

++
||
++
++